* {
    margin: 0;
    padding: 0;
    background-color: var(--pricipal);
    overflow-x: hidden;
}

body{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

:root{
   /* --principal:   rgb(65, 109, 128);*/
   --pricipal: black;
    --title: #007c32;
    --backgrou-cx:#090909;
}
.container{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}

.title{
    text-align: center;
    font-family: "Calistoga";
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: var(--title);
}

.filter-degree{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#barra-pesquisa{
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007c32;
}


label{
    display: block;
    text-align: center;
    color: var(--title);
    margin-top:10px;
    font-size: 20px;
    
}

input {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

select {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

select:hover{
    background-color: var(--title);
    color: white;
}

option{
  display: block;
  color: var(--title);
  background-color: black;  
}

option:hover{
    background-color: var(--title);
    color: white;
    
}

#area-degree{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.degree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title-degree{
    text-align: center;
    margin-top: 10px;
    color: var(--title);
    font-size: 30px;
    
}

.photoDegree {
    margin-top: 10px;
    width: 500px;
    object-fit: cover;
}

hr {
    margin-top: 25px;
    height: 3px;
    background-color: var(--title);
}







@media screen and (max-width: 480px) {
    * {
    margin: 0;
    padding: 0;
    background-color: var(--pricipal);
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

:root{
   /* --principal:   rgb(65, 109, 128);*/
   --pricipal: black;
    --title: #007c32;
    --backgrou-cx:#090909;
}


.title{
    text-align: center;
    font-family: "Calistoga";
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: var(--title);
}

.filter-degree{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#barra-pesquisa{
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007c32;
}

label{
    display: block;
    text-align: center;
    color: var(--title);
    margin-top:10px;
    font-size: 20px;
    
}


input {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

select {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    color: var(--title);
}

option{
  display: block;
  color: var(--title);
  
}

#area-degree{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.degree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title-degree{
    text-align: center;
    margin-top: 10px;
    color: var(--title);
    font-size: 30px;
    
}

.photoDegree {
    margin-top: 10px;
    width: 400px;
}

hr {
    margin-top: 25px;
    height: 3px;
    background-color: var(--title);
}
}